## B2W Digital
#### We are Hiring - Desafio Inteligência Artifical / FRONT

Link: 

https://github.com/b2wdigital/We-are-Hiring/tree/master/desafios-ia-front/clusters-sapatos

# Desafio - Agrupar produtos na visão do usuário. // Corrigir preços errados.

- Utilizar features para gerar um vetor que represente o produto 
- Encontrar clusters que os agrumpem 
- Taxa de acerto / erro - distância para o vetor (produto) 

Escolher o algoritmo ou modelo. 

Agrupar sapatos de acordo com condition, categories e colors gerando 4 clusters. 

Calcular o preço médio e desvio padrão de preço. (Buscar outliers)

Bônus: Apresentar os clusters em gráficos. 

Obs: 
O mesmo produto pode estar descrito de maneiras diferentes, buscar similaridade por ID; 

Atenção para variáveis categóricas (brand, categories, colors e condition) e não categóricas

Usar a linguagem da minha escolha (Python). 

# Entregáveis: 
- Código fonte (jupyter notebook);
- Associação entre id do sapato e id do cluster;
- Explicação de como o modelo funciona;
- Porque da escolha;
- Código limpo e auto explicativo mas caso necessário posso usar comentários; 

Bônus: capacidade de explicar o algoritmo escolhido e as decisões tomadas. 

# Variáveis 

Dependente: depende de outras variáveis para existir;

Independente: não depende de outras variáveis para existir;


Contínua: são variáveis numéricas com um número infinito de valores;

Categórica: são variáveis que contem um número finito de categorias; 

# Definição do tipo de problema

Regressão - quando alguma feature é dependente e a variável for contínua;

Classificação - quando alguma feature é dependente e a variável for categórica;

Clustering - quando nenhuma feature que será utilizada é dependente;

##Kmeans

Ver sobre Label enconding e one hot enconding
group by e order by 
como tirar uma coluna de lista 

treino, (validação e teste = dados que você não usa para o treino)

In [0]:
#importando libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas_profiling import ProfileReport
from sklearn.cluster import KMeans

In [0]:
!pip install category_encoders

Collecting category_encoders
  Downloading https://files.pythonhosted.org/packages/a0/52/c54191ad3782de633ea3d6ee3bb2837bda0cf3bc97644bb6375cf14150a0/category_encoders-2.1.0-py2.py3-none-any.whl (100kB)
     |████████████████████████████████| 102kB 6.0MB/s
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.22.1)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.25.3)
Requirement already satisfied: scipy>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: patsy>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.17.5)
Requirement already satisfied: statsmodels>=0.6.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->category_encoders) (0.14.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2.6.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.4.1->category_encoders) (1.12.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.1.0

In [0]:
from category_encoders.one_hot import OneHotEncoder 
from category_encoders.ordinal import OrdinalEncoder

In [0]:
#lendo o arquivo json e transformando em df

df = pd.read_json('https://raw.githubusercontent.com/b2wdigital/We-are-Hiring/master/desafios-ia-front/clusters-sapatos/shoes.json#', orient="values", lines=True)

In [0]:
#visualizando uma prévia do início do df

df.head()

                     id        brand  ... isSale   price
0  AVpfEf_hLJeJML431ueH  Naturalizer  ...  False  55.990
1  AVpi74XfLJeJML43qZAc     MUK LUKS  ...   True  41.125
2  AVpi74XfLJeJML43qZAc     MUK LUKS  ...  False  35.250
3  AVpjXyCc1cnluZ0-V-Gj     MUK LUKS  ...  False  24.750
4  AVphGKLPilAPnD_x1Nrm     MUK LUKS  ...   True  31.695

[5 rows x 7 columns]

In [0]:
#visualizando uma prévia das últimas linhas do df

df.tail()

                        id     brand  ... isSale    price
9995  AWKcCm-RHh53nbDRIh1_     Asics  ...   True  104.955
9996  AWKcEq-dHh53nbDRIiES     Asics  ...   True   98.960
9997  AWKb5jmLYSSHbkXwyzBA    Kaanas  ...   True   96.710
9998  AWKcEIInYSSHbkXwy0SA      Nike  ...   True  104.955
9999  AWKb6PiKYSSHbkXwyzP-  OTZShoes  ...   True   74.960

[5 rows x 7 columns]

In [0]:
#total de linhas e colunas do df

df.shape

(10000, 7)

In [0]:
#adicionando mais informações sobre o df, como quantidade de campos e tipo dos dados
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
id            10000 non-null object
brand         10000 non-null object
categories    10000 non-null object
colors        10000 non-null object
condition     10000 non-null object
isSale        10000 non-null bool
price         10000 non-null float64
dtypes: bool(1), float64(1), object(5)
memory usage: 478.6+ KB

In [0]:
#visualizando estatístcas da feature price

df.describe()

              price
count  10000.000000
mean      60.177376
std       18.786193
min        5.375000
25%       49.990000
50%       56.875000
75%       67.490000
max      359.950000

In [0]:
ProfileReport(df)

/usr/local/lib/python3.6/dist-packages/pandas_profiling/describe.py:392: FutureWarning: The join_axes-keyword is deprecated. Use .reindex or .reindex_like on the result to achieve the same functionality.
  variable_stats = pd.concat(ldesc, join_axes=pd.Index([names]), axis=1)

In [0]:
def list_to_str(x):  
    strg = " "      
    return (strg.join(x))

In [0]:
df['colors'] = df['colors'].map(list_to_str)  
df['categories'] = df['categories'].map(list_to_str)  

df

                        id        brand  ... isSale    price
0     AVpfEf_hLJeJML431ueH  Naturalizer  ...  False   55.990
1     AVpi74XfLJeJML43qZAc     MUK LUKS  ...   True   41.125
2     AVpi74XfLJeJML43qZAc     MUK LUKS  ...  False   35.250
3     AVpjXyCc1cnluZ0-V-Gj     MUK LUKS  ...  False   24.750
4     AVphGKLPilAPnD_x1Nrm     MUK LUKS  ...   True   31.695
...                    ...          ...  ...    ...      ...
9995  AWKcCm-RHh53nbDRIh1_        Asics  ...   True  104.955
9996  AWKcEq-dHh53nbDRIiES        Asics  ...   True   98.960
9997  AWKb5jmLYSSHbkXwyzBA       Kaanas  ...   True   96.710
9998  AWKcEIInYSSHbkXwy0SA         Nike  ...   True  104.955
9999  AWKb6PiKYSSHbkXwyzP-     OTZShoes  ...   True   74.960

[10000 rows x 7 columns]

In [0]:
ProfileReport(df)

/usr/local/lib/python3.6/dist-packages/pandas_profiling/describe.py:392: FutureWarning: The join_axes-keyword is deprecated. Use .reindex or .reindex_like on the result to achieve the same functionality.
  variable_stats = pd.concat(ldesc, join_axes=pd.Index([names]), axis=1)

In [0]:
df.drop(['brand', 'isSale'], axis=1, inplace=True)

In [0]:
df

                        id  ...    price
0     AVpfEf_hLJeJML431ueH  ...   55.990
1     AVpi74XfLJeJML43qZAc  ...   41.125
2     AVpi74XfLJeJML43qZAc  ...   35.250
3     AVpjXyCc1cnluZ0-V-Gj  ...   24.750
4     AVphGKLPilAPnD_x1Nrm  ...   31.695
...                    ...  ...      ...
9995  AWKcCm-RHh53nbDRIh1_  ...  104.955
9996  AWKcEq-dHh53nbDRIiES  ...   98.960
9997  AWKb5jmLYSSHbkXwyzBA  ...   96.710
9998  AWKcEIInYSSHbkXwy0SA  ...  104.955
9999  AWKb6PiKYSSHbkXwyzP-  ...   74.960

[10000 rows x 5 columns]

In [0]:
#encoder utilizando a função onehot
encoder = OneHotEncoder(cols=['categories', 'colors', 'condition'], use_cat_names=True)

encoder.fit(df)

OneHotEncoder(cols=['categories', 'colors', 'condition'], drop_invariant=False,
              handle_missing='value', handle_unknown='value', return_df=True,
              use_cat_names=True, verbose=0)

In [0]:
df = encoder.transform(df)

In [0]:
df

                        id  ...    price
0     AVpfEf_hLJeJML431ueH  ...   55.990
1     AVpi74XfLJeJML43qZAc  ...   41.125
2     AVpi74XfLJeJML43qZAc  ...   35.250
3     AVpjXyCc1cnluZ0-V-Gj  ...   24.750
4     AVphGKLPilAPnD_x1Nrm  ...   31.695
...                    ...  ...      ...
9995  AWKcCm-RHh53nbDRIh1_  ...  104.955
9996  AWKcEq-dHh53nbDRIiES  ...   98.960
9997  AWKb5jmLYSSHbkXwyzBA  ...   96.710
9998  AWKcEIInYSSHbkXwy0SA  ...  104.955
9999  AWKb6PiKYSSHbkXwyzP-  ...   74.960

[10000 rows x 405 columns]

In [0]:
x = df.iloc[:, 1:404]
x

      categories_Clothing Heels All Women's Shoes Shoes Sandals Women's Shoes  ...  condition_NEW
0                                                     1                        ...              0
1                                                     0                        ...              1
2                                                     0                        ...              1
3                                                     0                        ...              1
4                                                     0                        ...              1
...                                                 ...                        ...            ...
9995                                                  0                        ...              1
9996                                                  0                        ...              1
9997                                                  0                        ...              1
9998                                                  0                        ...              1
9999                                                  0                        ...              1

[10000 rows x 403 columns]

In [0]:
#Utilizando o algoritmo com KMeans, para 4 clusters e random_state 1
kmeans = KMeans(n_clusters=4, random_state =0)
kmeans.fit(x)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=4, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=0, tol=0.0001, verbose=0)

In [0]:
#Descobrindo os valores dos centroides
kmeans.cluster_centers_

array([[ 4.91883915e-04,  1.19804340e-17, -1.78893358e-18, ...,
         2.99510850e-18,  1.00000000e+00, -4.30211422e-16],
       [ 8.80914265e-18,  3.52365706e-17,  2.22261445e-18, ...,
         8.80914265e-18,  1.00000000e+00,  2.50494070e-15],
       [-5.14996032e-19,  9.13242009e-03,  6.84931507e-03, ...,
         2.28310502e-03, -7.43849426e-15,  1.00000000e+00],
       [ 2.57498016e-19,  1.02999206e-18, -1.13841228e-18, ...,
         2.57498016e-19,  1.00000000e+00, -4.85722573e-17]])

In [0]:
#Distância por linha em relação aos 4 clusters
distance = kmeans.fit_transform(x)
distance

array([[1.44844454, 1.74245762, 2.05582927, 1.81807333],
       [2.02483558, 2.24413871, 1.46120148, 2.30334336],
       [2.02483558, 2.24413871, 1.46120148, 2.30334336],
       ...,
       [2.02483558, 2.24413871, 1.23788935, 2.30334336],
       [2.02483558, 2.24413871, 1.36423501, 2.30334336],
       [2.02483558, 2.24413871, 1.20801933, 1.81807333]])

In [0]:
#
labels = kmeans.labels_
labels

array([0, 2, 2, ..., 2, 2, 2], dtype=int32)

In [0]:
resultado = pd.Series(labels, index=df['id'], name='cluster_id')
resultado

id
AVpfEf_hLJeJML431ueH    0
AVpi74XfLJeJML43qZAc    2
AVpi74XfLJeJML43qZAc    2
AVpjXyCc1cnluZ0-V-Gj    2
AVphGKLPilAPnD_x1Nrm    2
                       ..
AWKcCm-RHh53nbDRIh1_    2
AWKcEq-dHh53nbDRIiES    2
AWKb5jmLYSSHbkXwyzBA    2
AWKcEIInYSSHbkXwy0SA    2
AWKb6PiKYSSHbkXwyzP-    2
Name: cluster_id, Length: 10000, dtype: int32

In [0]:
resultado.to_csv('previsoes.csv', header=True)
!head -n10 previsoes.csv

id,cluster_id
AVpfEf_hLJeJML431ueH,0
AVpi74XfLJeJML43qZAc,2
AVpi74XfLJeJML43qZAc,2
AVpjXyCc1cnluZ0-V-Gj,2
AVphGKLPilAPnD_x1Nrm,2
AVpg91ziilAPnD_xziOo,2
AVpjGKXyLJeJML43r8BH,0
AVpjGKXyLJeJML43r8BH,0
AVpfLXyhilAPnD_xWmNc,2

In [0]:
df['cluster_id'] = labels
df

                        id  ...  cluster_id
0     AVpfEf_hLJeJML431ueH  ...           0
1     AVpi74XfLJeJML43qZAc  ...           2
2     AVpi74XfLJeJML43qZAc  ...           2
3     AVpjXyCc1cnluZ0-V-Gj  ...           2
4     AVphGKLPilAPnD_x1Nrm  ...           2
...                    ...  ...         ...
9995  AWKcCm-RHh53nbDRIh1_  ...           2
9996  AWKcEq-dHh53nbDRIiES  ...           2
9997  AWKb5jmLYSSHbkXwyzBA  ...           2
9998  AWKcEIInYSSHbkXwy0SA  ...           2
9999  AWKb6PiKYSSHbkXwyzP-  ...           2

[10000 rows x 406 columns]

In [0]:
df['cluster_id'].value_counts()

1    7369
0    2033
2     438
3     160
Name: cluster_id, dtype: int64

- contagem de linhas por cluster_id
- média de preço por cluster_id
- desvio padrão por cluster_id

In [0]:
df.groupby('cluster_id').price.agg(['count', 'mean', 'std'])

            count       mean        std
cluster_id
0            2033  59.343778  13.303292
1            7369  58.315189  14.370037
2             438  98.035468  46.635241
3             160  52.898125  14.656042

In [0]:
df.groupby('cluster_id').price.mean()

cluster_id
0    59.343778
1    58.315189
2    98.035468
3    52.898125
Name: price, dtype: float64

In [0]:
df.groupby('cluster_id').price.std()

cluster_id
0    13.303292
1    14.370037
2    46.635241
3    14.656042
Name: price, dtype: float64

In [0]:
df.groupby('cluster_id').sort_values()

AttributeError: ignored

In [0]:
df.price[df['cluster_id'] == 0].std()

13.303292021562836

In [0]:
df.price[df['cluster_id'] == 0].mean()

59.34377766847064

In [0]:
df.price[df['cluster_id'] == 1].std()

14.37003663740033

In [0]:
df.price[df['cluster_id'] == 1].mean()

58.31518930654986

In [0]:
df.price[df['cluster_id'] == 2].mean()

58.31518930654986

In [0]:
df[df['cluster_id'] == 2].mean()

categories_Clothing Heels All Women's Shoes Shoes Sandals Women's Shoes                                                            0.000000
categories_Clothing All Women's Shoes Women's Casual Shoes Shoes Women's Shoes                                                     0.009132
categories_Clothing All Women's Shoes Shoes Women's Shoes Women's Slippers                                                         0.006849
categories_Clothing All Womens Shoes All Women's Shoes Womens Shoes Baby & Toddler Shoes Shoes Women's Shoes Baby & Kids Shoes     0.002283
categories_Clothing Women's Casual Shoes All Women's Shoes Slippers MUK LUKS Shoes Women's Shoes Women's Slippers Womens           0.000000
                                                                                                                                    ...
colors_Armory                                                                                                                      0.002283
condition_USED                                                                                                                     0.000000
condition_NEW                                                                                                                      1.000000
price                                                                                                                             98.035468
cluster_id                                                                                                                         2.000000
Length: 405, dtype: float64

In [0]:
df[df['cluster_id'] == 3].mean()

categories_Clothing Heels All Women's Shoes Shoes Sandals Women's Shoes                                                            0.000000
categories_Clothing All Women's Shoes Women's Casual Shoes Shoes Women's Shoes                                                     0.000000
categories_Clothing All Women's Shoes Shoes Women's Shoes Women's Slippers                                                         0.000000
categories_Clothing All Womens Shoes All Women's Shoes Womens Shoes Baby & Toddler Shoes Shoes Women's Shoes Baby & Kids Shoes     0.000000
categories_Clothing Women's Casual Shoes All Women's Shoes Slippers MUK LUKS Shoes Women's Shoes Women's Slippers Womens           0.000000
                                                                                                                                    ...
colors_Armory                                                                                                                      0.000000
condition_USED                                                                                                                     1.000000
condition_NEW                                                                                                                      0.000000
price                                                                                                                             52.898125
cluster_id                                                                                                                         3.000000
Length: 405, dtype: float64

In [0]:
df.groupby(["id"]).size()

id
AV-9hndsuC1rwyj_g2bb    60
AV-9ho2OKZqtpbFMTHo1    25
AV-9hoj7KZqtpbFMTHou    19
AV-9hpHjYSSHbkXwpyGV    10
AV-9hqCXYSSHbkXwpyHA    30
                        ..
AWKcwdJVYSSHbkXwy16P     4
AWOC34jSYSSHbkXw0vNI     2
AWOC3cR9YSSHbkXw0uGE     1
AWOC3r1_YSSHbkXw0utd     1
AWOC3uJ0YSSHbkXw0uzL     4
Length: 653, dtype: int64

In [0]:
data = pd.get_dummies(df["categories"])

In [0]:
data

      NEW  USED
0       0     1
1       1     0
2       1     0
3       1     0
4       1     0
...   ...   ...
9995    1     0
9996    1     0
9997    1     0
9998    1     0
9999    1     0

[10000 rows x 2 columns]

In [0]:
x = df.iloc[:, 2:5].values

In [0]:
x

array([[list(['Clothing', 'Heels', "All Women's Shoes", 'Shoes', 'Sandals', "Women's Shoes"]),
        list(['Silver', 'Cream']), 'USED'],
       [list(['Clothing', "All Women's Shoes", "Women's Casual Shoes", 'Shoes', "Women's Shoes"]),
        list(['Grey']), 'NEW'],
       [list(['Clothing', "All Women's Shoes", "Women's Casual Shoes", 'Shoes', "Women's Shoes"]),
        list(['Grey']), 'NEW'],
       ...,
       [list(["Women's Casual Boots & Shoes", "Women's Footwear", "Women's Casual Shoes"]),
        list(['Mauve']), 'NEW'],
       [list(["Women's Running Shoes", "Women's Footwear", "Women's Road Running Shoes"]),
        list(['Armory']), 'NEW'],
       [list(["Women's Casual Boots & Shoes", "Women's Footwear", "Women's Casual Shoes"]),
        list(['Black']), 'NEW']], dtype=object)

In [0]:
#Guardando as features que serão usadas para o treinamento do modelo na variável x
x = df[['categories', 'colors']]
x

                                             categories           colors
0     [Clothing, Heels, All Women's Shoes, Shoes, Sa...  [Silver, Cream]
1     [Clothing, All Women's Shoes, Women's Casual S...           [Grey]
2     [Clothing, All Women's Shoes, Women's Casual S...           [Grey]
3     [Clothing, All Women's Shoes, Shoes, Women's S...          [Black]
4     [Clothing, All Women's Shoes, Shoes, Women's S...           [Grey]
...                                                 ...              ...
9995  [Women's Running Shoes, Women's Footwear, Wome...         [Silver]
9996  [Women's Running Shoes, Women's Footwear, Wome...         [Indigo]
9997  [Women's Casual Boots & Shoes, Women's Footwea...          [Mauve]
9998  [Women's Running Shoes, Women's Footwear, Wome...         [Armory]
9999  [Women's Casual Boots & Shoes, Women's Footwea...          [Black]

[10000 rows x 2 columns]

In [0]:
df['id'].value_counts()

AV46uYe4glJLPUi8VW57    185
AV2cZ7SYGV-KLJ3al3p6    157
AVpfn5s3LJeJML43ArJE    144
AV-nbnIEKZqtpbFMSzYa    121
AVpidVDz1cnluZ0-Nd4_    109
                       ...
AV-ncL2WuC1rwyj_gemu      1
AVpim4qG1cnluZ0-O5LN      1
AWKb4e6gHh53nbDRIgZV      1
AVpfLXyhilAPnD_xWmNc      1
AV_NPBzfHh53nbDRAFPa      1
Name: id, Length: 653, dtype: int64

In [0]:
df = encoder.transform(df)

In [0]:
df

                        id        brand  ...    price condition_int
0     AVpfEf_hLJeJML431ueH  Naturalizer  ...   55.990             1
1     AVpi74XfLJeJML43qZAc     MUK LUKS  ...   41.125             0
2     AVpi74XfLJeJML43qZAc     MUK LUKS  ...   35.250             0
3     AVpjXyCc1cnluZ0-V-Gj     MUK LUKS  ...   24.750             0
4     AVphGKLPilAPnD_x1Nrm     MUK LUKS  ...   31.695             0
...                    ...          ...  ...      ...           ...
9995  AWKcCm-RHh53nbDRIh1_        Asics  ...  104.955             0
9996  AWKcEq-dHh53nbDRIiES        Asics  ...   98.960             0
9997  AWKb5jmLYSSHbkXwyzBA       Kaanas  ...   96.710             0
9998  AWKcEIInYSSHbkXwy0SA         Nike  ...  104.955             0
9999  AWKb6PiKYSSHbkXwyzP-     OTZShoes  ...   74.960             0

[10000 rows x 9 columns]

In [0]:
print(lista)

[1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 3, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 3, 3, 3, 0, 0, 0, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 3, 0, 0, 2, 2, 0, 0, 0, 1, 1, 1, 1, 1, 1, 3, 3, 3, 3, 1, 0, 1, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 3, 1, 3, 3, 3, 1, 1, 3, 3, 3, 3, 3, 3, 3, 3, 1, 1, 3, 1, 3, 3, 3, 1, 3, 1, 1, 3, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 3, 3, 3, 3, 3, 3, 1, 1, 1, 1, 1, 3, 3, 3, 3, 3, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 3, 1, 1, 3, 3, 3, 1, 1, 1, 1, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 3, 3, 3, 3, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 3, 3, 3, 1, 3, 3, 3, 1, 3, 3, 3, 1, 3, 1, 1, 1, 1, 3, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 3, 1, 3, 3, 3, 3, 3, 1, 3, 3, 1, 1, 3, 3, 1, 1, 1, 1, 3, 1, 1, 3, 1, 3, 3, 3, 1, 1, 3, 3, 3, 3, 3, 1, 1, 1, 3, 3, 1, 3, 1, 3, 1, 3, 3, 1, 1, 3, 3, 1, 1, 3, 3, 3, 3, 3, 3, 1, 1, 3, 3, 1, 3, 3, 3, 1, 3, 1, 1, 3, 1, 1, 3, 3, 1, 1, 1, 1, 1, 1, 1, 3, 3, 1, 3, 1, 3, 1, 1, 1, 3, 3, 3, 1, 1, 1, 3, 3, 1, 1, 1, 3, 1, 3, 3, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 3, 3, 3, 3, 3, 3, 1, 3, 3, 3, 3, 3, 3, 1, 3, 1, 1, 1, 1, 3, 3, 1, 1, 3, 3, 3, 1, 3, 3, 3, 1, 1, 3, 3, 1, 1, 3, 3, 1, 3, 3, 1, 1, 3, 3, 1, 3, 3, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 1, 1, 1, 3, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 3, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 3, 3, 3, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 3, 3, 3, 3, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 3, 1, 3, 1, 3, 1, 1, 1, 3, 1, 1, 3, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 3, 3, 1, 3, 3, 1, 3, 3, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 3, 1, 1, 1, 1, 3, 1, 1, 1, 3, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 3, 1, 3, 1, 1, 3, 3, 1, 3, 1, 3, 1, 1, 1, 1, 3, 1, 1, 3, 1, 1, 3, 3, 3, 3, 1, 3, 3, 3, 3, 1, 1, 1, 1, 3, 3, 1, 3, 1, 3, 3, 1, 3, 3, 3, 3, 3, 1, 1, 1, 3, 3, 1, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 3, 3, 1, 3, 3, 3, 1, 1, 3, 3, 1, 3, 3, 3, 1, 3, 3, 1, 3, 1, 1, 3, 1, 3, 1, 3, 1, 3, 1, 1, 3, 1, 3, 1, 3, 3, 1, 1, 1, 3, 3, 1, 3, 1, 3, 3, 1, 1, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 3, 3, 1, 1, 3, 1, 3, 3, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 3, 1, 3, 3, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 1, 3, 3, 3, 3, 3, 3, 1, 3, 3, 1, 3, 3, 1, 1, 3, 3, 1, 3, 3, 3, 3, 3, 3, 1, 3, 3, 3, 3, 3, 1, 3, 3, 3, 1, 3, 3, 3, 3, 3, 3, 3, 3, 1, 3, 3, 1, 3, 3, 3, 1, 3, 3, 3, 3, 3, 3, 1, 3, 3, 1, 3, 3, 3, 1, 1, 3, 3, 3, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 3, 1, 1, 3, 3, 3, 3, 1, 3, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 3, 3, 3, 2, 3, 3, 3, 2, 3, 3, 2, 3, 3, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 2, 2, 3, 3, 2, 3, 2, 3, 3, 2, 2, 2, 3, 3, 2, 2, 3, 3, 2, 3, 2, 3, 3, 3, 2, 3, 2, 3, 2, 3, 3, 1, 3, 1, 1, 3, 3, 1, 1, 3, 3, 3, 1, 3, 3, 1, 1, 3, 3, 3, 1, 3, 1, 1, 3, 1, 3, 3, 1, 3, 3, 1, 1, 3, 1, 1, 1, 3, 1, 3, 1, 1, 3, 3, 3, 1, 1, 1, 3, 1, 3, 1, 1, 3, 3, 1, 1, 3, 3, 1, 3, 3, 1, 1, 3, 1, 3, 1, 1, 1, 1, 1, 1, 3, 1, 3, 3, 3, 3, 3, 3, 3, 1, 3, 1, 3, 3, 1, 1, 1, 1, 3, 3, 3, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 3, 1, 3, 1, 1, 1, 3, 1, 1, 1, 1, 1, 3, 1, 1, 3, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 3, 3, 1, 3, 1, 3, 1, 1, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 3, 1, 3, 1, 1, 1, 3, 3, 1, 3, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 3, 1, 1, 1, 3, 1, 1, 1, 3, 3, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 3, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 3, 1, 1, 3, 1, 1, 1, 3, 3, 3, 3, 3, 1, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 3, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, 1, 1, 1, 1, 0, 1, 0, 0, 3, 1, 0, 3, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 3, 3, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 3, 0, 1, 1, 1, 0, 1, 1, 3, 1, 1, 1, 3, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 3, 3, 3, 3, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 3, 3, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 3, 1, 1, 3, 1, 1, 1, 1, 1, 0, 1, 1, 3, 1, 1, 1, 1, 1, 3, 1, 3, 1, 3, 1, 3, 3, 3, 1, 1, 1, 1, 1, 3, 3, 1, 3, 3, 1, 1, 3, 1, 3, 3, 1, 3, 1, 1, 1, 1, 1, 3, 3, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 3, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 3, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 3, 3, 3, 3, 3, 3, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 1, 3, 3, 1, 3, 3, 3, 3, 3, 3, 3, 1, 1, 1, 3, 3, 3, 1, 1, 1, 3, 1, 1, 3, 1, 3, 3, 3, 1, 3, 3, 1, 1, 1, 1, 1, 3, 1, 1, 1, 3, 1, 3, 1, 3, 1, 3, 3, 1, 1, 1, 3, 1, 3, 3, 3, 3, 3, 0, 1, 3, 1, 1, 1, 0, 1, 3, 3, 1, 3, 1, 1, 3, 1, 3, 1, 3, 1, 1, 3, 1, 1, 3, 1, 1, 1, 1, 3, 3, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 3, 3, 3, 1, 1, 1, 3, 1, 1, 1, 1, 3, 1, 3, 1, 1, 1, 1, 1, 1, 1, 3, 1, 0, 0, 1, 0, 1, 0, 1, 3, 3, 3, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0

In [0]:
np.set_printoptions( threshold=1000 )

In [0]:
print(labels.arange(1000))

AttributeError: ignored

In [0]:
df.brand.value_counts(dropna=False)

journee collection                2182
lifestride                        1457
a2 by aerosoles                    670
easy street                        556
style charles by charles david     478
                                  ...
ELLIE SHOES                          1
Silver Lilly                         1
Kaanas                               1
OTZShoes                             1
Carrini                              1
Name: brand, Length: 129, dtype: int64

In [0]:
df.brand.value_counts(dropna=False).head(25)

journee collection                2182
lifestride                        1457
a2 by aerosoles                    670
easy street                        556
style charles by charles david     478
so                                 422
dr. scholls                        337
croft barrow                       315
nike                               285
new balance                        255
sonoma goods for life              229
skechers                           185
apt. 9                             183
Nike                               179
simply vera vera wang              164
SKECHERS                           151
candies                            144
Lifestride                         136
ryka                               129
asics                              111
naturalsoul by naturalizer         107
madden nyc                          84
spring step                         79
adidas                              74
lc lauren conrad                    69
Name: brand, dtype: int64

In [0]:
test = df[['colors']]
test

               colors
0     [Silver, Cream]
1              [Grey]
2              [Grey]
3             [Black]
4              [Grey]
...               ...
9995         [Silver]
9996         [Indigo]
9997          [Mauve]
9998         [Armory]
9999          [Black]

[10000 rows x 1 columns]

In [0]:
type(test)
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 1 columns):
colors    10000 non-null object
dtypes: object(1)
memory usage: 78.2+ KB

In [0]:
teste2 = str(test[['categories']])
teste2

"                                             categories\n0     [Clothing, Heels, All Women's Shoes, Shoes, Sa...\n1     [Clothing, All Women's Shoes, Women's Casual S...\n2     [Clothing, All Women's Shoes, Women's Casual S...\n3     [Clothing, All Women's Shoes, Shoes, Women's S...\n4     [Clothing, All Women's Shoes, Shoes, Women's S...\n...                                                 ...\n9995  [Women's Running Shoes, Women's Footwear, Wome...\n9996  [Women's Running Shoes, Women's Footwear, Wome...\n9997  [Women's Casual Boots & Shoes, Women's Footwea...\n9998  [Women's Running Shoes, Women's Footwear, Wome...\n9999  [Women's Casual Boots & Shoes, Women's Footwea...\n\n[10000 rows x 1 columns]"

In [0]:
#criação de coluna através de função
def transf_condition(valor):
    if valor == 'USED':
        return 1
    else:
        return 0

In [0]:
df['condition_int'] = df['condition'].map(transf_condition)
df

                        id        brand  ...    price condition_int
0     AVpfEf_hLJeJML431ueH  Naturalizer  ...   55.990             1
1     AVpi74XfLJeJML43qZAc     MUK LUKS  ...   41.125             0
2     AVpi74XfLJeJML43qZAc     MUK LUKS  ...   35.250             0
3     AVpjXyCc1cnluZ0-V-Gj     MUK LUKS  ...   24.750             0
4     AVphGKLPilAPnD_x1Nrm     MUK LUKS  ...   31.695             0
...                    ...          ...  ...      ...           ...
9995  AWKcCm-RHh53nbDRIh1_        Asics  ...  104.955             0
9996  AWKcEq-dHh53nbDRIiES        Asics  ...   98.960             0
9997  AWKb5jmLYSSHbkXwyzBA       Kaanas  ...   96.710             0
9998  AWKcEIInYSSHbkXwy0SA         Nike  ...  104.955             0
9999  AWKb6PiKYSSHbkXwyzP-     OTZShoes  ...   74.960             0

[10000 rows x 8 columns]

In [0]:
#encoder utilizando a biblioteca ordinal
ordinal = OrdinalEncoder(cols=['id', 'brand', 'isSale', 'condition'])
ordinal.fit(df)

OrdinalEncoder(cols=['id', 'brand', 'isSale', 'condition'],
               drop_invariant=False, handle_missing='value',
               handle_unknown='value',
               mapping=[{'col': 'id', 'data_type': dtype('O'),
                         'mapping': AVpfEf_hLJeJML431ueH      1
AVpi74XfLJeJML43qZAc      2
AVpjXyCc1cnluZ0-V-Gj      3
AVphGKLPilAPnD_x1Nrm      4
AVpg91ziilAPnD_xziOo      5
                       ...
AWKcEq-dHh53nbDRIiES    650
AWKb5jmLYSSHbkXwyzBA    651
AWKcEIInYSSHbkXwy0S...
Length: 654, dtype: int64},
                        {'col': 'brand', 'data_type': dtype('O'),
                         'mapping': Naturalizer      1
MUK LUKS         2
Soft Ones        3
muk luks         4
Sloggers         5
              ...
Bogs           126
Lowa           127
Kaanas         128
OTZShoes       129
NaN             -2
Length: 130, dtype: int64},
                        {'col': 'isSale', 'data_type': dtype('bool'),
                         'mapping': False    1
True     2
NaN     -2
dtype: int64},
                        {'col': 'condition', 'data_type': dtype('O'),
                         'mapping': USED    1
NEW     2
NaN    -2
dtype: int64}],
               return_df=True, verbose=0)

In [0]:
new = ordinal.transform(df)
new

       id  brand  ...    price condition_int
0       1      1  ...   55.990             1
1       2      2  ...   41.125             0
2       2      2  ...   35.250             0
3       3      2  ...   24.750             0
4       4      2  ...   31.695             0
...   ...    ...  ...      ...           ...
9995  649    100  ...  104.955             0
9996  650    100  ...   98.960             0
9997  651    128  ...   96.710             0
9998  652     77  ...  104.955             0
9999  653    129  ...   74.960             0

[10000 rows x 8 columns]

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
id               10000 non-null object
brand            10000 non-null object
categories       10000 non-null object
colors           10000 non-null object
condition        10000 non-null object
isSale           10000 non-null bool
price            10000 non-null float64
condition_int    10000 non-null int64
dtypes: bool(1), float64(1), int64(1), object(5)
memory usage: 556.8+ KB

## * Pensar no melhor algoritmo para o problema
## * Pensar na distância para os centroides
## * Pensar na visualização dos dados
## * Pensar na exportação dos resultados


"Um produto pode ser ofertado em mais de uma loja, portanto, pode aparecer mais de uma vez no conjunto de dados e ter valores para categories, colors e condition diferentes, você precisa reunir estes dados e criar um único registro para cada id."

In [0]:
resultado = pd.Series(labels, index=df['id'], name='cluster_id')
resultado

id
AVpfEf_hLJeJML431ueH    1
AVpi74XfLJeJML43qZAc    0
AVpi74XfLJeJML43qZAc    0
AVpjXyCc1cnluZ0-V-Gj    0
AVphGKLPilAPnD_x1Nrm    0
                       ..
AWKcCm-RHh53nbDRIh1_    3
AWKcEq-dHh53nbDRIiES    3
AWKb5jmLYSSHbkXwyzBA    3
AWKcEIInYSSHbkXwy0SA    3
AWKb6PiKYSSHbkXwyzP-    3
Name: cluster_id, Length: 10000, dtype: int32

In [0]:
resultado.to_csv('previsoes.csv', header=True)
!head -n10 previsoes.csv

id,cluster_id
AVpfEf_hLJeJML431ueH,1
AVpi74XfLJeJML43qZAc,0
AVpi74XfLJeJML43qZAc,0
AVpjXyCc1cnluZ0-V-Gj,0
AVphGKLPilAPnD_x1Nrm,0
AVpg91ziilAPnD_xziOo,0
AVpjGKXyLJeJML43r8BH,0
AVpjGKXyLJeJML43r8BH,0
AVpfLXyhilAPnD_xWmNc,0

In [0]:
print(df['colors'])

0       [Silver, Cream]
1                [Grey]
2                [Grey]
3               [Black]
4                [Grey]
             ...
9995           [Silver]
9996           [Indigo]
9997            [Mauve]
9998           [Armory]
9999            [Black]
Name: colors, Length: 10000, dtype: object

In [0]:
df

                        id        brand  ... isSale    price
0     AVpfEf_hLJeJML431ueH  Naturalizer  ...  False   55.990
1     AVpi74XfLJeJML43qZAc     MUK LUKS  ...   True   41.125
2     AVpi74XfLJeJML43qZAc     MUK LUKS  ...  False   35.250
3     AVpjXyCc1cnluZ0-V-Gj     MUK LUKS  ...  False   24.750
4     AVphGKLPilAPnD_x1Nrm     MUK LUKS  ...   True   31.695
...                    ...          ...  ...    ...      ...
9995  AWKcCm-RHh53nbDRIh1_        Asics  ...   True  104.955
9996  AWKcEq-dHh53nbDRIiES        Asics  ...   True   98.960
9997  AWKb5jmLYSSHbkXwyzBA       Kaanas  ...   True   96.710
9998  AWKcEIInYSSHbkXwy0SA         Nike  ...   True  104.955
9999  AWKb6PiKYSSHbkXwyzP-     OTZShoes  ...   True   74.960

[10000 rows x 7 columns]

In [0]:
def convert(list): 
    return tuple(list)

In [0]:
df['colors_1'] = df['colors'].map(convert)

In [0]:
df.head()

                     id        brand  ...   price         colors_1
0  AVpfEf_hLJeJML431ueH  Naturalizer  ...  55.990  (Silver, Cream)
1  AVpi74XfLJeJML43qZAc     MUK LUKS  ...  41.125          (Grey,)
2  AVpi74XfLJeJML43qZAc     MUK LUKS  ...  35.250          (Grey,)
3  AVpjXyCc1cnluZ0-V-Gj     MUK LUKS  ...  24.750         (Black,)
4  AVphGKLPilAPnD_x1Nrm     MUK LUKS  ...  31.695          (Grey,)

[5 rows x 8 columns]

In [0]:
encoder = OneHotEncoder(cols=['colors_1'], use_cat_names=True)

encoder.fit(df)
encoder.transform(df)